<div class="container mt-5 card">
  <%= form_tag({controller: "users", action: "submit_answers"}, method: "post", id: "fill-questionnaire-form") do %>
    <% @questionnaire.questions.each_with_index do |question, index| %>
      <div class="question-container custom-card mt-2 mt-2 ">
        <div class="card-body">
          <h4 class="card-title"><%= index + 1 %>. <%= question.title %></h4>
          <% question.all_options.each_with_index do |option, option_index| %>
            <div class="option-container form-check">
              <% if question.single_choice? || question.picture? %>
                <%= radio_button_tag "questionnaire[questions][#{question.id}][selected_option_id]", option.id, false, class: "form-check-input", id: "option_#{option.id}" %>
              <% elsif question.multiple_choice? %>
                <%= check_box_tag "questionnaire[questions][#{question.id}][selected_option_ids][]", option.id, false, class: "form-check-input", id: "option_#{option.id}" %>
              <% elsif question.range? %>
                <div class="row">
                  <div class="col-md-5">
                    <%= range_field_tag :total_score, min: option.min_range, max: option.max_range, step: 1, class: 'slider' %>
                  </div>
                  <div class="col-md-1 text-center">
                    <div id="selected-range-value" class="btn-primary">
                      <%= option.min_range %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if question.picture? %>
                <%= image_tag url_for(option.picture), width: 300, class: "mb-5" %>
              <% elsif question.single_choice? || question.multiple_choice? %>
                <%= label_tag "option_#{option.id}", option.title, class: "form-check-label" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= submit_tag "Submit", id: "submit-answers-button", class: "btn btn-primary mb-3" %>
  <% end %>
</div>

<%= render 'modal' %>
