<div class="nested-fields option-field">
  <div class="row">
    <div class="col-md-11">
      <% if f.object.id.present? %>
        <%= f.hidden_field :id %>
      <% end %>
      <div class="row flex">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.text_field :title, class: "form-control", placeholder: 'Option title...' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :witch_points, class: "form-control", placeholder: 'Witch' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :wizard_points, class: "form-control", placeholder: 'Wizard' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :leprechaun_points, class: "form-control", placeholder: 'Lepracaun' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :dragon_points, class: "form-control", placeholder: 'Dragon' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :human_points, class: "form-control", placeholder: 'Human' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :elf_points, class: "form-control", placeholder: 'Elf' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :fairy_points, class: "form-control", placeholder: 'Fairy' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= link_to_remove_association "Remove Option", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
