<div class="nested-fields picture-option-field mb-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4">
          <%= f.file_field :picture, class: 'picture-option-field' %>
          <br>
          <img class="preview d-none" src="#" alt="Preview" width=300>
          <% if f.object.picture.attached? %>
            <div>
              <%= image_tag url_for(f.object.picture), width: 300 %>
            </div>
          <% end %>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :witch_points, class: "form-control", placeholder: 'Witch' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :wizard_points, class: "form-control", placeholder: 'Wizard' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :leprechaun_points, class: "form-control", placeholder: 'Lepracaun' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :dragon_points, class: "form-control", placeholder: 'Dragon' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :human_points, class: "form-control", placeholder: 'Human' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :elf_points, class: "form-control", placeholder: 'Elf' %>
          </div>
        </div>
        <div class="col-md-1 px-1">
          <div class="form-group">
            <%= f.number_field :fairy_points, class: "form-control", placeholder: 'Fairy' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= link_to_remove_association "Remove Option", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
