<div class="nested-fields">
  <div class="row custom-card">
    <div class="col-md-10">
      <% if f.object.id.present? %>
        <%= f.hidden_field :id %>
      <% end %>
      <div class="row">
        <div class="col-md-7">
          <div class="form-group">
            <%= f.text_area :title, class: "form-control", placeholder: 'Question title...', required: true %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.select :question_type, [['Single Choice', 'single_choice'], ['Multi Choice', 'multiple_choice'], ['Picture', 'picture'], ['Range', 'range']], {}, class: "form-control question-type", required: true %>
          </div>
        </div>
      </div>

      <% if f.object.id.present? %>
        <%= f.fields_for :options do |option_form| %>
          <%= render 'option_fields', f: option_form %>
        <% end %>
        <%= f.fields_for :range_options do |option_form| %>
          <%= render 'range_option_fields', f: option_form %>
        <% end %>
        <%= f.fields_for :picture_options do |option_form| %>
          <%= render 'picture_option_fields', f: option_form %>
        <% end %>
      <% end %>

      <div class="form-group mt-3">
        <%= link_to_add_association 'Add Option', f, :options, class: "btn btn-primary option-button #{(f.object.single_choice? || f.object.multiple_choice?) ? '' : 'd-none'}" %>
      </div>
      <div class="form-group mt-3">
        <%= link_to_add_association 'Add Option', f, :range_options, class: "btn btn-primary range-option-button #{f.object.range? ? '' : 'd-none'}" %>
      </div>
      <div class="form-group mt-3">
        <%= link_to_add_association 'Add Option', f, :picture_options, class: "btn btn-primary picture-option-button #{f.object.picture? ? '' : 'd-none'}" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= link_to_remove_association "Remove Question", f, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
